@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuI6fMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuGKYMZg.ttf) format('truetype');
}
* {
  font-family: "Inter", "Verdana", sans-serif;
}
h1 {
  margin: 0;
  font-size: 96px;
  font-weight: 600;
  line-height: 112px;
  letter-spacing: 0px;
}
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 48px;
    line-height: 56px;
  }
}
h6 {
  color: #758899;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
p {
  color: #fff;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}
